{% extends 'base.html' %}  <!-- Si tienes una plantilla base, extiéndela -->

{% block content %}
<form method="post" action="{% url 'buy' %}">
  {% csrf_token %}
  
  <label for="fecha_venta">Fecha de la venta: </label>
  <input
    id="fecha_venta"
    type="text"
    name="fecha_venta"
    value="" />
  <br>
  <label for="valor_compra">Valor de la compra: </label>
  <input
    id="valor_compra"
    type="text"
    name="valor_compra"
    value="" />
  <br>
  <label for="id_coleccionista">Identificacion del comprador: </label>
  <input
    id="id_coleccionista"
    type="text"
    name="id_coleccionista"
    value="" />
  <br>
  <label for="id_vendedor">Identificacion del vendedor: </label>
  <input
    id="id_vendedor"
    type="text"
    name="id_vendedor"
    value="" />
  <br>
  <label for="id_pieza">Identificacion de la pieza: </label>
  <input
    id="id_pieza"
    type="text"
    name="id_pieza"
    value="" />
  <br>




  <a name="comprar" id="comprar" class="btn btn-danger" href='{%url "mostrar"%}' role="button">Confirmar comprar</a>
</form>
{% endblock %}
