{% extends 'base.html' %} 

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for pieza in piezas %}
    <div class="col">
    <div class="card">
    <div class="card-body">

    <h5 class="card-title fw-bold">Nombre: {{pieza.nombre }}</h5>
    <p class="card-text">Identificacion de la pieza: {{ pieza.id_pieza }}</p>
    <p class="card-text">Identificacion del coleccionista: {{ pieza.coleccionista.identificacion }}</p>
    <p class="card-text">Valor facial: {{ pieza.valor_facial }}</p>
    <p class="card-text">Precio avaluado: {{ pieza.precio_avaluado }}</p>
    <p class="card-text">Lugar de ceca: {{ pieza.ceca }}</p>
    <p class="card-text">Material: {{ pieza.material }}</p>
    <p class="card-text">Peso en gramos: {{ pieza.peso}}</p>
    <p class="card-text">Diametro en milimetros: {{ pieza.diametro }}</p>
    <p class="card-text">Año de la pieza: {{ pieza.año }}</p>
    <p class="card-text">Tipo del artículo: {{ pieza.tipo_articulo }}</p>
    <a name="comprar" id="comprar" class="btn btn-danger" href='{%url "buy"%}' role="button">Comprar</a>
             
    </div>
    </div>
    </div>
        {% endfor %}
    </div>
{% endblock content %}