{%  extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}  

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="" role="button">Comprar</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Compra</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID_comprador</th>
                        <th scope="col">ID_vendedor</th>
                        <th scope="col">ID_pieza</th>
                        <th scope="col">Nombre_pieza</th>
                        <th scope="col">precio</th>

                    </tr>
                </thead>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}