{%  extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}  

<div class="card">
    <div class="card-header">
        Listar Piezas
    </div>
    <div class="card-body">
        <h4 class="card-title">Piezas</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Valor Facial</th>
                        <th scope="col">Precio Avaluado</th>
                        <th scope="col">Ceca</th>
                        <th scope="col">Material</th>
                        <th scope="col">Peso (gr)</th>
                        <th scope="col">Diametro</th>
                        <th scope="col">Año Fabricacion</th>
                        <th scope="col">Tipo Pieza</th>
                        <th scope="col">Coleccion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td >0</td>
                        <td>Moneda1</td>
                        <td>10000</td>
                        <td>40000</td>
                        <td>Medellin Moneda</td>
                        <td>Cobre</td>
                        <td>50</td>
                        <td>6</td>
                        <td>1955</td>
                        <td>Moneda</td>
                        <td>1</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'infopiece' %}" role="button">Ver-Info</a> | 
                        <a name="" id="" class="btn btn-danger" href="#" role="button">Comprar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}